{% extends 'base.html' %}

{% block extra_javascript %}
<link rel="stylesheet" type="text/css" href="/site_media/js/ext-3.2.0/examples/ux/css/MultiSelect.css" />
<link rel="stylesheet" type="text/css" href="/site_media/js/ext-3.2.0/examples/shared/examples.css" />
<script type="text/javascript" src="/site_media/js/ext-3.2.0/examples/ux/MultiSelect.js"></script>
<script type="text/javascript" src="/site_media/js/ext-3.2.0/examples/ux/RowEditor.js"></script>
<script type="text/javascript" src="/site_media/js/ext-3.2.0/examples/ux/ItemSelector.js"></script> 
<script type="text/javascript" src="/site_media/js/ext-3.2.0/src/widgets/tips/SliderTip.js"></script>
<script type="text/javascript">
	var rota_url = '{{ rota_url }}';
</script>

<script type="text/javascript" src="/site_media/js/view-rota.js"></script>

{% endblock %}

{% block main_content %}

{% endblock %}
